body{
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    background-color:turquoise;
    
}
ol{
    text-align: center;
    display: table;
  margin: 0 auto;
}
ul{
    display: table;
  margin: 0 auto;
}

h1{
    position: center;
    font-style: normal;
    font-family: sans-serif;
}
.link{
    color: blue;
}
table, th, td{
    border: solid black;
    border-radius: 10px;
    

}
.hide{
    visibility: hidden;
}

p{
    margin-top: 0rem;
}
nav{
    background-color: teal;
    padding: auto;
}